body {
  background-color: #fafafa;
}

.mainDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(206, 206, 206);
  margin: 25px auto 0px auto;
  border-radius: 2px;
  width: 700px;
}

.heading {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.profilePic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(206, 206, 206);
}

.profilePic img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.rowDiv {
  display: flex;
  flex-direction: row;
  margin: 32px 0 0;
  justify-content: flex-start;
}

.rowLeftDiv {
  margin: 2px 32px 0px 124px;
}

.formRowDiv {
  text-align: right;
  margin: 32px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.formRowLeftDiv {
  padding-left: 32px;
  padding-right: 32px;
  text-align: right;
}

.formLeftAside {
  box-sizing: border-box;
  color: #262626;
  flex: 0 194px 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  margin-top: 6px;
}

.formRowRightDiv input {
  padding: 9px 0px 7px 8px;
  width: 350px;
  height: 15px;
  margin-bottom: 5px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
}

.formRowRightDiv textarea {
  padding: 9px 0px 7px 8px;
  width: 350px;
  height: 40px;
  margin-bottom: 25px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  resize: vertical !important;
}

.button {
  color: white;
  background-color: #0095f6;
  border-radius: 5px;
  width: 65px;
  height: 30px;
  margin: 8px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
}

.hrStyle {
  border: 1px solid rgb(206, 206, 206);
  background-color: rgb(206, 206, 206);
}

.error {
  color: #ed4956;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
}

.forgotPassText {
  color: #0095f6;
  font-size: 12px;
  line-height: 20px;
  margin: 0px 40px 40px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.footerText {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 60px;
  color: grey;
}

.reportIssue {
  width: 100%;
  align-content: center;
}

.loadingGif {
  width: 100px;
  height: 100px;
  background-color: transparent;
  align-self: center;
}

.connectDiv{
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 40%;
  margin: 10px 0 50px 0;
}

.iconStyle{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 750px) {
  .mainDiv {
    width: 100%;
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .rowLeftDiv {
    margin: 2px 32px 0px 20px;
  }

  .formRowDiv {
    text-align: left;
    margin: 32px 0 0;
    display: flex;
    flex-direction: column;
  }

  .formRowLeftDiv {
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 0px !important;
    flex: none;
  }

  .formLeftAside {
    box-sizing: border-box;
    color: #262626;
    flex: 0 0px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 6px;
  }

  .formRowRightDiv input {
    max-width: 80%;
    width: 100%;
    height: 15px;
    margin: 0px 20px 5px 20px;
  }

  .formRowRightDiv textarea {
    max-width: 80%;
    width: 100%;
    margin: 0px 20px 20px 20px;
    resize: vertical !important;
  }

  .formRowRightDiv .error {
    margin-top: -28px !important;
    margin-bottom: 10px !important;
  }

  .connectDiv{
    width: 80%;
  }
}
