.reset {
    width: 390px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(206, 206, 206);
    margin: 95px auto 0px auto;
  }
  
  .logo {
    font-family: "Grand Hotel", "cursive";
    letter-spacing: 1px;
    font-size: 50px !important;
    margin: 22px auto 10px;
    background-color: white;
    align-content: center;
  }
  
  .input {
    padding: 9px 0px 7px 8px;
    width: 268px;
    height: 22px;
    margin-bottom: 5px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
  }
  
  .input:focus {
    outline: 1px solid rgb(168, 168, 168);
  }
  
  .resetButton {
    color: white;
    background-color: #0095f6;
    border-radius: 5px;
    width: 278px;
    height: 30px;
    margin: 8px 0 35px;
    border: 1px solid transparent;
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .resetButton:hover {
    cursor: pointer;
  }
  
  .error {
    color: #ed4956;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    margin: 15px 40px 40px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    background-color: white;
  }
  
  .loadingGif {
    width: 100px;
    height: 100px;
    background-color: transparent;
    align-self: center;
  }
  
  .footerText {
      text-align: center;
      font-size: 12px;
      margin-top: 20px;
      margin-top: 120px;
      color: grey;
      margin-bottom: 60px;
    }
  
    .hrStyle{
        margin-left: 0;
        margin-right: 0;
    }
  
  @media screen and (max-width: 400px) {
    .reset {
      width: 100%;
      background-color: #fafafa;
      border: none;
      margin: 0px;
    }
  
    .error {
      background-color: #fafafa;
    }
  
    .input {
      width: 70%;
      min-width: 200px;
    }
  
    .resetButton {
      width: 73%;
      min-width: 200px;
    }
  
    .logo {
      background-color: #fafafa;
    }
  }
  