.profilePic {
  border-radius: 100px;
  max-width: 165px;
  max-height: 165px;
  float: left;
  margin-right: 80px;
  border: 1px solid rgb(206, 206, 206);
  overflow: hidden;
}

.profilePic img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.profileMain {
  padding: 0px 16%;
  display: flex;
  flex-direction: column;
}

.profile {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  float: left;
}

.nameAndBio {
  display: flex;
  flex-direction: column;
}

.hero {
  max-width: 100%;
  z-index: 9;
}

.usernameStyle {
  float: left;
  font-size: 25px;
  margin: 8px 8px 8px 0px;
}

.verifiedIcon {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  float: left;
}

.button {
  color: white;
  background-color: #0095f6;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  margin: 8px;
  border: 1px solid transparent;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.bigScreenStats {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 15px;
}

.bigScreenGallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.smallScreenGallery {
  display: none;
}

.smallScreenStats {
  display: none;
}

.name {
  margin-top: 20px;
}

.bio {
  margin-top: 5px;
  font-size: 15px;
}

.profileDivider {
  background-color: #dbdbdb;
  border: 0.5px solid #dbdbdb;
  margin-top: 50px;
}

.nameAndBio {
  display: none;
}

.overlayImg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.overlayContainer:hover .overlayImg {
  opacity: 0.6;
}

.overlayBigContainer:hover .overlayImg {
  opacity: 0.6;
}

.overlayBigContainer:hover .imgOverlayText {
  opacity: 1;
}

.overlayContainer:hover .imgOverlayText {
  opacity: 1;
}

.overlayBigContainer {
  width: 95.25%;
  height: 95.25%;
  padding: 3%;
  position: relative;
}

.overlayContainer {
  position: relative;
  width: 32.3%;
  height: 32.3%;
  padding: 0.5%;
  display: flex;
  float: left;
}

.imgOverlayText {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  font-size: 13px;
}

.showMoreDiv {
  display: flex;
  flex-direction: column;
  width: 225px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
}

.followListItem {
  display: flex;
  border: none;
  padding: 0px 20px;
  align-items: center;
}

.followListItem img {
  border-radius: 100px;
  max-width: 31px;
  max-height: 31px;
  float: left;
  margin: 20px 16px;
  border: 1px solid rgb(206, 206, 206);
}

.followListItem p {
  width: 200px;
  font-size: 14px;
}

.followListHeading {
  border-bottom: 1px solid rgb(206, 206, 206);
}

.followListHeading p {
  text-align: center;
  margin: 15px auto 10px auto;
  font-weight: bold;
}

.folllowListDiv {
  margin: "20px !important";
}

.loadingGif {
  width: 100px;
  height: 100px;
  background-color: transparent;
  align-self: center;
}


@media screen and (max-width: 850px) {
  .profilePic {
    width: 72px;
    height: 72px;
    margin-top: 8px;
    margin-right: 25px;
  }
  .profile {
    margin-top: 20px;
  }

  .profileMain {
    padding: 0px 20px;
  }

  .button {
    width: 250px;
  }

  .bigScreenStats {
    display: none;
  }

  .bigScreenGallery {
    display: none;
  }

  .smallScreenStats {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    justify-content: space-around;
    padding: 20px 0px;
  }

  .smallScreenGallery {
    display: contents;
  }

  .spanText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .spanText p {
    color: grey;
    font-size: 15px;
  }
  .usernameStyle {
    margin-left: 8px;
  }

  .profileDivider {
    display: none;
  }

  .name {
    font-size: 15px;
  }

  .bio {
    font-size: 14px;
  }

  .nameAndBio {
    display: contents;
    left: 0px;
    position: fixed;
  }

  .imageGallery {
    max-width: 100%;
  }

  .followListItem p {
    width: 140px;
  }
}

@media screen and (max-width: 440px) {
  .button {
    width: 80%;
  }
}
