.signin {
  width: 348px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(206, 206, 206);
  margin: 34px auto 0px auto;
}

.logo {
  font-family: "Grand Hotel", "cursive";
  letter-spacing: 1px;
  font-size: 50px !important;
  margin: 22px auto 50px;
  background-color: white;
}

.forgotPassText {
  color: rgba(142, 142, 142);
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 15px 40px 40px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.input {
  padding: 9px 0px 7px 8px;
  width: 268px;
  height: 22px;
  margin-bottom: 5px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
}

.input:focus {
  outline: 1px solid rgb(168, 168, 168);
}

.signinButton {
  color: white;
  background-color: #0095f6;
  border-radius: 5px;
  width: 278px;
  height: 30px;
  margin: 8px;
  border: 1px solid transparent;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  font-size: 14px;
}

.signinButton:hover {
  cursor: pointer;
}

.signupOuterBox {
  width: 348px;
  background-color: white;
  border: 1px solid rgb(206, 206, 206);
  margin: 10px auto 0px auto;
}

.signupInnerBox {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.signupText {
  background-color: white;
}

@media screen and (max-width: 400px) {
  .signin,
  .signupOuterBox,
  .signupInnerBox {
    width: 100%;
    background-color: #fafafa;
    border: none;
    margin: 0px;
  }

  .input {
    width: 70%;
    min-width: 200px;
  }

  .signinButton {
    width: 73%;
    min-width: 200px;
  }

  .logo,
  .forgotPassText {
    background-color: #fafafa;
  }

  .signupText {
    background-color: #fafafa;
  }
}
