.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(206, 206, 206);
  background-color: white;
  padding: 5px 15%;
  align-items: center;
}

.linksDiv {
  background-color: white;
  display: flex;
}

.logo {
  font-family: "Grand Hotel", "cursive";
  letter-spacing: 1px;
  font-size: 30px !important;
}

.link {
  margin: 0px 10px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  background-color: white;
}

.profilePic {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(206, 206, 206);
  margin-bottom: 2px;
}

.profilePic img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.navIcon {
  width: 28px;
  height: 28px;
  background-color: white;
  color: black;
  margin-right: 10px;
}

.profilePicSelect {
  border-radius: 100px;
  width: 27px;
  height: 26px;
  border: 1px solid black;
  position: absolute;
  top: 6px;
  right: 14.78%;
  background-color: transparent;
  cursor: pointer;
}

.profileModal {
  position: absolute;
  right: 14%;
  top: 55px;
  width: 221px;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  border-radius: 10px;
  overflow: hidden;
  z-index: 99 !important;
}

.modalItem {
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
}

.modalTriangle {
  width: 15px;
  transform: rotate(45deg);
  position: absolute;
  height: 15px;
  background-color: white;
  top: 47px;
  border: none;
  box-shadow: 0 0 3px #ccc;
  right: 15.3%;
  bottom: 0px;
  clip-path: inset(-5px 0px 0px -5px);
  mix-blend-mode: luminosity;
  z-index: 100 !important;
}

.searchBar {
  max-width: 213px;
  width: 30%;
  height: 25px;
  text-align: center;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  background-color: #fafafa;
  margin: 0 5px;
}

.searchBar:focus {
  text-align: start;
  outline: none;
}

.searchModal {
  position: absolute;
  top: 55px;
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99 !important;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.searchModalTriangle {
  width: 15px;
  transform: rotate(45deg);
  position: absolute;
  height: 15px;
  background-color: white;
  top: 47px;
  border: none;
  box-shadow: 0 0 3px #ccc;
  bottom: 0px;
  clip-path: inset(-5px 0px 0px -5px);
  mix-blend-mode: luminosity;
  z-index: 100 !important;
}

.mainModalDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 15px;
}

.searchModalItem {
  display: flex;
  padding: 8px;
  cursor: pointer;
}

.searchModalItem:hover {
  background-color: #fafafa;
}

.loadingGif {
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin-left: 125px;
  margin-top: 120px;
}

.searchProfilePic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(206, 206, 206);
  margin-right: 10px;
  margin-left: 10px;
}

.notFound {
  color: grey;
  font-size: 13px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.verifiedIcon {
  width: 13px;
  height: 13px;
  align-self: center;
  margin: 0px 5px;
  float: left;
  position: relative;
}

@media screen and (max-width: 980px) {
  .navbar {
    padding: 5px 20px;
  }

  .profilePicSelect {
    right: 18px;
    top: 9px;
  }
  .profileModal {
    right: 0px;
  }
  .modalTriangle {
    right: 25px;
  }
}
