.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(206, 206, 206);
  background-color: white;
  padding: 5px 15%;
  align-items: center;
}

.linksDiv {
  background-color: white;
}

.logo {
  font-family: "Grand Hotel", "cursive";
  letter-spacing: 1px;
  font-size: 30px !important;
}

.link {
  margin: 0px 10px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  background-color: white;
}

.profilePic {
  width: 22px;
  height: 22px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 100px;
  margin-bottom: 2px;
}

.homeIcon {
  width: 28px;
  height: 28px;
  background-color: white;
  cursor: pointer;
  margin-right:10px;
}

.profilePicSelect {
  border-radius: 100px;
  width: 27px;
  height: 26px;
  border: 1px solid black;
  position: absolute;
  top: 9px;
  right: 14.85%;
  background-color: transparent;
}

.profileModal {
  position: absolute;
  right: 14%;
  top: 55px;
  width: 221px;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  border-radius: 10px;
  overflow: hidden;
  z-index: 99 !important;
}

.modalItem {
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  background-color: white;
  color: black;
}

.modalTriangle {
  width: 15px;
  transform: rotate(45deg);
  position: absolute;
  height: 15px;
  background-color: white;
  top: 47px;
  border: none;
  box-shadow: 0 0 3px #ccc;
  right: 15.3%;
  bottom: 0px;
  clip-path: inset(-5px 0px 0px -5px);
  mix-blend-mode: luminosity;
  z-index: 100 !important;
}

@media screen and (max-width: 980px) {
  .navbar {
    padding: 5px 20px;
  }

  .profilePicSelect {
    right: 18px;
  }
  .profileModal {
    right: 0px;
  }
  .modalTriangle {
    right: 25px;
  }
}
